/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #f8f8fc;
    color: #333;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

nav .logo {
    font-size: 22px;
    font-weight: 700;
    color: #6c5ce7;
}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #6c5ce7;
    transform: translateY(-2px);
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding-top: 220px;
    padding-bottom: 150px;
    background: linear-gradient(135deg, #6c5ce7, #a29bfe);
    color: white;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.highlight {
    color: #ffeaa7;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 30px;
    background: white;
    color: #6c5ce7;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #ffeaa7;
    color: #333;
}

/* SECTION */
.section {
    padding: 100px 60px;
    text-align: center;
}

.section h2 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #6c5ce7;
}

.section p {
    margin: 0 auto;
    font-size: 18px;
    max-width: 600px;
    color: #555;
}

/* PROJECT GRID */
.projects-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.project-card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    transition: 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.project-card h3 {
    color: #6c5ce7;
    margin-bottom: 10px;
}

/* SOCIAL ICONS */
.social-icons a {
    font-size: 35px;
    margin: 10px;
    color: #6c5ce7;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #a29bfe;
    transform: translateY(-5px);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 25px;
    background: #6c5ce7;
    color: white;
    margin-top: 50px;
    font-size: 15px;
    letter-spacing: 1px;
}
